#profile .profile-heading {
    margin-bottom: 30px;
    color: #fe980f;
}

.margin-default {
    margin-bottom: 20px;
}

.label-pattern {
    color: #fe980f;
    font-size: 19px;
}

.profile-input {
    width: 60%;
    background-color: #F0F0E9;
}

.wishs-info-con {
    background-color: #F0F0E9;
    padding: 10px;
    border-radius: 5px;
}

.wishs-info h4 {
    color: #fe980f;
}

.profile-digits {
    color: #fe980f;
}

.pass-con {
    margin-top: 10px !important;
}

#changePass {
    margin: 20px auto;
}

.pass-con button {
    background: #fe980f;
    color: white;
    border: 1px solid #fe980f;
}

.user-img{
	max-height: 400px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.user-img img{
    max-width: 100%;
}